{% extends "base.html" %}
{% load staticfiles %}

{% block css%}
<link rel="stylesheet" href="{% static 'myapp\css\about.css' %}">
{% endblock%}

{% block title %}About{% endblock %}

{% block content %}
<div class="container about">
    <h1>About Page</h1>
    <h2>Let us tell you something about us</h2>
    <div class="about-content text-center">
        <p id="about-para">
            This is a Real Estate system that maintains all the property information online. The system identifies and stores several types of property
            information. We provide a quick and easy way to search property information. Anyone can search for a specific property. Please create an account
            to upload a property for sale and rent, to register for a user account please visit the SignIn page.
        </p>
    </div>
</div>

{% endblock %}