{% extends "base.html" %}
{% load staticfiles %}

{% block css%}
<link rel="stylesheet" href="{% static 'myapp\css\about.css' %}">
{% endblock%}

{% block title %}S2_G4_Fall2018{% endblock %}

{% block content %}
<div class="container about">
    <h1>About Page</h1>
    <h2>Let us tell you something about us</h2>
    <div class="about-content text-center">
        <p>
            Lorem ipsum dolor sit amet, enim reque accusam nam te. Sonet ridens euripidis ei sea, utamur bonorum no ius, cu equidem ancillae deleniti usu. Soluta epicurei vis ad. Assum option recteque eum te, aperiri habemus ex per.

Id nisl deseruisse nam. Eu elitr splendide intellegebat vis. Postulant tractatos constituto vim eu. Vituperata assueverit interesset cu vim, ad eam dicta percipit. Oporteat sensibus suavitate eos in. Eum saepe iracundia deseruisse no.

Mei eu decore contentiones, antiopam cotidieque voluptatibus ad his, regione alienum democritum ea eum. Cum cu causae discere, mea ex eligendi aliquando, vis suscipit inimicus ea. Diceret inermis contentiones has ad, ex causae debitis vim, impetus argumentum mea te. Ex his agam timeam mnesarchum, solet petentium adolescens mei ea, in pri malorum epicurei. Vivendo accusam ut mea, nam mediocrem consequat ad.

Vidit quodsi audiam mei ex, tollit molestie ex ius, pri prompta pericula ut. Ea doctus utamur mel, eam quem omittam omittantur ex. Meis ridens cetero ei pro, at vix tritani omittam intellegebat. In scaevola quaestio sensibus mei, corpora perpetua et qui, cu per malis lucilius nominati. Ad eos dicant accusam suavitate, qui te vero aeque scriptorem. Nec te dissentias eloquentiam, sit ei nostro accusamus tincidunt.

Cu brute recusabo inciderint vix. Malis dissentias vel cu, vim no vidit commune. Pri omnium omittantur ea. Aeque ubique argumentum ex pro, qui id dicta minim feugiat. Nec dolores conclusionemque no. Sed odio ipsum graecis te.
        </p>
    </div>
</div>

{% endblock %}